.card {
  & div {
    font-size: 16px;
    line-height: 22px;
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

:global(.ui.grid).cardContent {
  margin-top: 1em;
}

.status {
  display: inline-block;
  padding: 16px;
  border: 1px solid #afafaf;

  &.blocked {
    color: var(--status-blocked-color);
    border-color: var(--status-blocked-color);
  }
  &.active {
    color: var(--status-active-color);
    border-color: var(--status-active-color);
  }
}