.container {
  width: 100%;
  padding: 24px 0 48px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.withSidebar {
    @media (max-width: 1279px) {
      margin-left: 160px;
    }

    @media (max-width: 1023px) {
      margin-left: 0;
    }
  }
}

.page {
  width: 600px;

  @media (max-width: 767px) {
    width: 480px;
  }

  @media (max-width: 575px) {
    width: 360px;
  }

  @media (max-width: 479px) {
    width: 300px;
  }
}