.header {
  padding-top: 24px;
}

.menu {
  margin: 24px auto 0;
  width: 400px;
}

.link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-bottom: 8px;

  &.active {
    color: #00a;
    border-bottom: 1px solid #00a;
  }
}