.wrapper {
  margin-top: 2em;

  & :global(.ui.grid) {
    & :global(.column) {
      &:first-child {
        border-right: 1px solid --var(border-light);
      }
      & ~ :global(.column) {
        padding-left: 3em;
      }
    }
  }
}

.card {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid --var(border-light);
}

.transaction {
  & div {
    font-size: 16px;
    line-height: 22px;
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}